.pet-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: palevioletred;
    font-family: 'Cantarell', serif;
}

.pet-img {
    width: 80%;
}

.pet-name {
    display: flex;
    padding-left: 10px;
}

.pet-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pet-quick-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 10px;
}

.overflow-row {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.p{
    margin: 0;
}

.header{
    display: flex;
    flex-direction: column;
    height: 150px;
    background-color: palevioletred;
    align-items: center;
    justify-content: center;
}

.button{
    padding: 3px;
}

.pet-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    display: flex;
    flex-direction: column;
    margin: 20px;
}





